<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Previous Trees</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">

    <h1>Previous Trees</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Input numbers</th>
            <th>Created at</th>
            <th>JSON tree</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tree : ${trees}">
        <td th:text="${tree.id}"></td>
        <td th:text="${tree.numbersInput}"></td>
        <td th:text="${tree.createdAt}"></td>
        <td>
        <pre th:text="${tree.jsonTree}"></pre>
        </td>
        </tr>
        </tbody>
    </table>

    <a href="/enter-numbers">Back to form</a>

</div>
</body>
</html>